<aside
	class="page__social social box box--compact"
	aria-label="Социальные сети"
>
	<a class="social__link"
		href="https://x.com/lp_cast"
		aria-label="Икс">
		<svg class="social__icon"
			width="58" height="55"
			aria-hidden="true" focusable="false">
			<use href="/images/social.svg#x"></use>
		</svg>
	</a>
	<a class="social__link"
		href="https://www.instagram.com/lp_cast/"
		aria-label="Инстаграм">
		<svg class="social__icon"
			width="51" height="55"
			aria-hidden="true" focusable="false">
			<use href="/images/social.svg#instagram"></use>
		</svg>
	</a>
	<a class="social__link"
		href="https://fb.me/3lpcast"
		aria-label="Фейсбук">
		<svg class="social__icon"
			width="55" height="55"
			aria-hidden="true" focusable="false">
			<use href="/images/social.svg#facebook"></use>
		</svg>
	</a>
	<a class="social__link"
		href="https://t.me/lp_cast"
		aria-label="Телеграм">
		<svg class="social__icon"
			width="56" height="55"
			aria-hidden="true" focusable="false">
			<use href="/images/social.svg#telegram"></use>
		</svg>
	</a>
	<a class="social__link"
		href="https://vk.com/lp_cast"
		aria-label="ВКонтакте">
		<svg class="social__icon"
			width="72" height="55"
			aria-hidden="true" focusable="false">
			<use href="/images/social.svg#vkontakte"></use>
		</svg>
	</a>
</aside>
