<footer class="page__footer footer box box--compact">
	<p class="footer__copy content">
		Маша Аникеева, Вадим Макеев, Слава Олиянчук — 2019.
		Фотографии пластинок — <a href="https://rochester.edu/">Университет Рочестера</a>.
		Работает на <a href="https://www.11ty.io/">Eleventy</a>.
	</p>
</footer>
