<footer class="page__footer footer box box--compact">
    <p class="footer__copy content">
        Маша Аникеева, Вадим Макеев, Слава Олиянчук — 2019. Фотографии пластинок — <a href="https://rochester.edu/">Университет Рочестера</a>.
    </p>
</footer>
<script src="scripts.js"></script>
