<header class="page__header header">
    <picture>
        <source srcset="images/logo.webp 1x, images/logo@2x.webp 2x" type="image/webp">
        <img class="header__logo" src="images/logo.jpg" srcset="images/logo@2x.jpg 2x" alt="Пластинка с буквами LP сверху">
    </picture>
</header>
