---
layout: page.njk
---

{% include 'header.njk' %}
{% include 'aside.njk' %}

<main class="page__main main">
    <div class="main__intro box">
        <div class="content">
            <h1 class="main__title">LP</h1>
            <p>
                Дилетантский подкаст про музыку.
                <a href="https://twitter.com/not_plasticine">Маша Аникеева</a>,
                <a href="https://twitter.com/pepelsbey">Вадим Макеев</a>
                и <a href="https://twitter.com/miripiruni">Слава Олиянчук</a>
                болтают о любимых пластинках и делятся историями.
            </p>
            <p>Слушайте в
                <a href="https://podcasts.apple.com/podcast/id1469847344">iTunes</a>,
                <a href="https://open.spotify.com/show/0xpVD4jiXiEOICICGXrVUx">Spotify</a>,
                <a href="https://pca.st/U71V">Pocket Casts</a>,
                <a href="https://overcast.fm/itunes1469847344">Overcast</a>,
                <a href="https://castbox.fm/channel/id2183207">CastBox</a>
                или подписывайтесь <a href="https://3lp.me/feed/">на RSS</a> в любом приложении для подкастов.
                Ищите <a href="https://github.com/lp-cast/3lp.me">код сайта</a> на Гитхабе.
                Пишите нам: <a href="mailto:hi@3lp.me">hi@3lp.me</a>.
            </p>
        </div>
    </div>
    <a class="patreon box box--compact" href="https://www.patreon.com/lp_cast">
        Поддержите нас на Патреоне!
    </a>
    {%- for post in collections.episode | reverse -%}
        <article class="episode box" id="e{{ loop.index }}">
            <h2 class="episode__title">{{ post.data.title }}</h2>
            <div class="player">
                <audio class="episode__player player__audio" controls src="episodes/{{ loop.index }}.mp3"></audio>
                <ul class="player__list">
                    {%- for chapter in post.data.chapters -%}
                    <li class="player__chapter">
                        {{ chapter }}
                    </li>
                    {%- endfor -%}
                </ul>
            </div>
            <div class="content">
                {{ post.content | safe }}
            </div>
        </article>
    {%- endfor -%}
</main>

{% include 'footer.njk' %}
