/* Content */

@media (min-width: 768px) {
	.content {
		margin-bottom: -20px;
	}
}

.content h2,
.content h3 {
	margin: 0 0 10px 0;
	line-height: 1;
	font-family: 'DIN Condensed', sans-serif;
	font-size: 24px;
}

.content p {
	margin: 0 0 20px 0;
}

/* Lists */

.content ol,
.content ul {
	margin: 0 0 20px 0;
	padding: 0;
}

.content ol {
	padding-left: 20px;
}

.content ul {
	padding-left: 20px;
	list-style: none;
}

.content ul li::before {
	position: absolute;
	margin-left: -20px;
	content: '—';
}

.content li + li {
	margin-top: 8px;
}

/* Links */

.content a {
	color: #007bc1;
	text-decoration-color: rgb(0 123 193 / 25%);
	text-decoration-thickness: 4px;
	text-underline-offset: 4px;
	text-decoration-skip-ink: none;
}

.content a:hover {
	text-decoration-color: rgb(0 123 193 / 75%);
}

.content a:focus {
	outline: 4px solid rgb(0 123 193 / 25%);
	outline-offset: 2px;
	border-radius: 4px;
	text-decoration: none;
}
