/* Social */

.social {
	display: grid;
	grid-auto-flow: column;
	justify-content: space-between;
	align-items: center;
	background-color: white;
}

.social__link {
	display: block;
	margin: 0 -5px;
	padding: 0 5px;
}

.social__link:link,
.social__link:visited {
	color: #3b3b3b;
}

.social__link:hover,
.social__link:focus {
	color: #007bc1;
}

.social__link:focus {
	outline: none;
	border-radius: 4px;
	box-shadow: 0 0 0 4px rgba(0, 123, 193, 0.25);
}

.social__icon {
	display: block;
	fill: currentColor;
}
