/* Main */

.main {
    display: grid;
    grid-auto-rows: min-content;
    grid-gap: 5px;
}

.main__intro {
    background-color: white;
}

.main__title {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
