<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:content="http://purl.org/rss/1.0/modules/content/">
<channel>
	<title>{{ meta.title }}</title>
	<description>{{ meta.description }}</description>
	<copyright>{{ meta.copyright }}</copyright>
	<language>{{ meta.language }}</language>
	<link>{{ meta.url }}</link>
	<atom:link href="{{ meta.url }}feed/" rel="self" type="application/rss+xml"/>

	<itunes:subtitle>{{ meta.subtitle }}</itunes:subtitle>
	<itunes:type>{{ meta.type }}</itunes:type>
	<itunes:author>{{ meta.author }}</itunes:author>
	<itunes:explicit>{{ meta.explicit }}</itunes:explicit>
	<itunes:owner>
		<itunes:name>{{ meta.owner.name }}</itunes:name>
		<itunes:email>{{ meta.owner.email }}</itunes:email>
	</itunes:owner>
	<itunes:image href="https://3lp.me/images/cover.jpg"/>
	<itunes:category text="{{ meta.categories[0] }}">
		<itunes:category text="{{ meta.categories[1] }}"/>
	</itunes:category>

{%- for episode in collections.episode | reverse -%}

	{% set description %}
		<ul>
			{%- for chapter in episode.data.chapters -%}
				<li>{{ chapter.time }} {{ chapter.title }}</li>
			{%- endfor -%}
		</ul>
		{{ episode.templateContent | safe }}
	{% endset %}

	{% set fileUrl %}{{ meta.url }}episodes/{{ episode.data.number }}/audio.mp3{% endset %}
	{% set filePath %}src/episodes/{{ episode.data.number }}/audio.mp3{% endset %}

	<item>
		<title>{{ episode.data.title }}</title>
		<pubDate>{{ episode.date.toUTCString() }}</pubDate>
		<description><![CDATA[{{ description | htmlmin | safe }}]]></description>

		<guid isPermaLink="true">{{ fileUrl }}</guid>
		<enclosure type="audio/mpeg" url="{{ fileUrl }}" length="{{ filePath | length }}"/>

		<itunes:episode>{{ episode.data.number }}</itunes:episode>
		<itunes:duration>{{ episode.data.duration }}</itunes:duration>
		<itunes:author>{{ meta.author }}</itunes:author>
		<itunes:explicit>no</itunes:explicit>
		<itunes:summary><![CDATA[{{ description | htmlmin | safe }}]]></itunes:summary>
		<itunes:image href="{{ meta.url }}episodes/{{ episode.data.number }}/cover.jpg"/>
	</item>

{%- endfor -%}

</channel>
</rss>
