---
eleventyComputed:
    title: "{% if pagination.pageNumber > 0 %}Страница {{ pagination.pageNumber + 1 }}{% else %}LP{% endif %}"
layout: page.njk
permalink: "{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
pagination:
    data: collections.episode
    size: 10
    reverse: true
---

{% include 'header.njk' %}
{% include 'aside.njk' %}

<main class="page__main main">
    <div class="main__intro box">
        <div class="content">
            <h1 class="main__title">LP</h1>
            <p>
                Любимые пластинки — дилетантский подкаст про музыку.
                <a href="https://twitter.com/not_plasticine">Маша</a>,
                <a href="https://twitter.com/pepelsbey">Вадим</a>
                и <a href="https://twitter.com/miripiruni">Слава</a>
                болтают о любимых пластинках и делятся историями.
            </p>
            {% markdown %}
                {%- include 'links.md' -%}
            {% endmarkdown %}
        </div>
    </div>
    {# <a class="patreon box box--compact" href="https://www.patreon.com/lp_cast">
        Поддержите нас на Патреоне!
    </a> #}
    {%- for episode in pagination.items -%}
    <article class="episode box" id="e{{ episode.data.number }}">
        <h2 class="episode__title">
            <a class="episode__link" href="{{ episode.url }}">
                {{ episode.data.number }}. {{ episode.data.title }}
            </a>
        </h2>
        <div class="player">
            <audio class="episode__player player__audio"
                src="/episodes/{{ episode.data.number }}/audio.mp3"
                preload="none" controls>
            </audio>
            <ul class="player__list">
                {%- for chapter in episode.data.chapters -%}
                <li class="player__chapter">
                    <span class="player__timecode">
                        {{ chapter.time }}
                    </span>
                    {{ chapter.title }}
                </li>
                {%- endfor -%}
            </ul>
        </div>
        <div class="content">
            {{ episode.templateContent | safe }}
        </div>
    </article>
    {%- endfor -%}

    {% include 'pages.njk' %}
</main>

{% include 'footer.njk' %}
