/* Header */

.header {
    position: relative;
    height: 0;
    padding-bottom: 100%;
    box-shadow: 0 0 0 5px #3b3b3b;
    background-color: white;
}

.header__link {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    clip-path: circle(50% at 50% 50%);
}

.header__logo {
    display: block;
    width: 100%;
}

@media (min-width: 768px) {
    .header__link {
        top: 25%;
        left: 25%;
        width: 50%;
    }
}
